@page
@model SWGlobalTest.Pages.Offers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Offer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offer.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offer.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offer.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offer.UnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offer.CanBuyMoreThanOneUnit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offer.CanBuyMoreThanOneUnit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offer.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offer.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offer.Vendor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offer.Vendor)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Offer.Id">Edit</a> |
    <a asp-page="./Index" asp-route-vendorId="@Model.Offer.VendorId">Back to List</a>
</div>
